Label {
    font-size: 20px;
    -unity-font-style: bold;
    color: rgb(68, 138, 255);
}

.compact-object-field > .unity-base-field__label {
    min-width: 48px;
    width: 48px;
    margin-right: 6px;
}